<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>618790631213-7o1lms6e3itkjbg50vv2gfs1ut7fb84g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.618790631213-7o1lms6e3itkjbg50vv2gfs1ut7fb84g</string>
	<key>API_KEY</key>
	<string>AIzaSyDXK2UtdqX5z92awWw5ngMLIvc2Rqe0x4g</string>
	<key>GCM_SENDER_ID</key>
	<string>618790631213</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.donow</string>
	<key>PROJECT_ID</key>
	<string>donow-6e206</string>
	<key>STORAGE_BUCKET</key>
	<string>donow-6e206.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:618790631213:ios:6d3d016bf7203be84a05a4</string>
</dict>
</plist>